@{
    ViewData["Title"] = "صفحه ی اصلی";
}
<style>
    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1000;
        /* Sit on top */
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 10px;
        border: 1px solid #888;
        width: 70%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>

<!-- Carousel Start -->
<div class="container-fluid p-0">
    <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators" style="z-index:3">
            <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#header-carousel" data-slide-to="1"></li>
            <li data-target="#header-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="img-fluid" src="~/img/Repair1.jpg" alt="Image" width="100%" height="auto">
                <div class="carousel-caption d-flex align-items-center justify-content-center">
                    <div class="p-5" style="width: 100%; max-width: 900px;text-align:right">
                        <h5 class="text-primary text-uppercase mb-md-3">ضمانت و پشتیبانی ۲۴ ساعته</h5>
                        <h1 class="display-3 text-white mb-md-4">
                            تعمیرات انواع لوازم خانگی بصورت حرفه و با کیفیت بالا
                        </h1>
                        <a href="@Url.Action("OrderPage","Account")" class="btn btn-primary">درخواست اعزام کارشناس</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="img\Service.jpg" alt="Image" width="100%" height="auto">
                <div class="carousel-caption d-flex align-items-center justify-content-center">
                    <div class="p-5" style="width: 100%; max-width: 900px;text-align:right">
                        <h5 class="text-primary text-uppercase mb-md-3">ارائه  خدمات در کمترین زمان و بالا ترین کیفیت</h5>
                        <h1 class="display-3 text-white mb-md-4">استفاده از قطعات اورجینال در تمامی تعمیرات</h1>
                        <a href="@Url.Action("OrderPage","Account")" class="btn btn-primary">درخواست اعزام کارشناس</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="img\Repair5.jpg" alt="Image" width="100%" height="auto">
                <div class="carousel-caption d-flex align-items-center justify-content-center">
                    <div class="p-5" style="width: 100%; max-width: 900px;text-align:right">
                        <h5 class="text-primary text-uppercase mb-md-3">دارای کارشناس های ماهر با تجربه بالا</h5>
                        <h1 class="display-3 text-white mb-md-4">ارائه تمامی خدمات در زمینه تعمیرات لوازم خانگی</h1>
                        <a href="@Url.Action("OrderPage","Account")" class="btn btn-primary">درخواست اعزام کارشناس</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
<!-- Carousel End -->

<!-- About Start -->
<div class="container-fluid py-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="d-flex flex-column align-items-center justify-content-center bg-about rounded h-100 py-5 px-3">
                    <i class="fa fa-5x fa-award text-primary mb-4"></i>
                    <h1 class="display-2 text-white mb-2" data-toggle="counter-up">25</h1>
                    <h2 class="text-white m-0">سال</h2>
                    <h2 class="text-white m-0">سابقه ی موفق</h2>
                </div>
            </div>
            <div class="col-lg-7 pt-5 pb-lg-5">
                <h6 class="text-secondary font-weight-semi-bold text-uppercase mb-3">درباره ما</h6>
                <h1 class="mb-4 section-title">ما بهترین خدمات تعمیرات را اراعه میدهیم</h1>
                <h5 class="text-muted font-weight-normal mb-3">

                    پس از 25 سال تجربه درخشان ارائه خدمات در زمینه تعمیرات لوازم خانگی در مجموعه ایران سرویس در
                    مواجه با گسترش کسب و کارهای اینترنتی بر آن شدیم تا با نام تجاری جدیدی پا به عرصه رقابت گذاشته و
                    با ایجاد پلتفرم “123 تعمیر“ وظیفه خدمت رسانی به هم میهنان عزیزمان را گسترش داده و این خدمات را
                    در
                    دسترس عموم قرار دهیم تا باشگاهی بزرگ از مشتریان گذشته ، حال و آینده را تشکیل داده و با ارائه
                    خدمات به روز ، متحولانه و به صرفه نامی ماندگار در اذهان عموم بر جای بگذاریم.
                </h5>
                <p>
                    این مرکز جهت رفاه مشتریان خود کلیه خدمات تعمیرات را در صورت امکان در محل مشتری انجام خواهد داد ؛
                    ما برای تعمیرات لوازم خانگی در محل ، کلیه تجهیزات و ملزومات مورد نیاز را در دسترس داشته و با به
                    کارگیری قطعات اورجینال و دارای ضمانت تمام تلاش خود را خواهیم کرد تا تمام مراحل تعمیرات لوازم
                    خانگی شما در همان محل و در حضور شما انجام گردد.
                </p>
                <div class="d-flex align-items-center pt-4">
                    <a href="@Url.Action("AboutUs","Account")" class="btn btn-primary mr-5">بیشتر</a>
                   
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Services Start -->
<div class="container-fluid bg-service py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h6 class="text-secondary font-weight-semi-bold text-uppercase mb-3">خدمات مـا</h6>
                <h1 class="mb-4 section-title text-white">بهترین خدمات تعمیرات برای شما</h1>
                <p class="text-white">
                    ی123 تعمیر با پشتیبانی 24 ساعته و در دست داشتن تعداد زیادی تکنسین فعال در نقاط مختلف کشور این
                    امکان را فراهم آورده تا تمام خدمات و تعمیرات در سریعترین زمان ممکن پس از تماس مشتری انجام گردد.
                    تعمیرات انجام شده توسط متخصصین ما 90 روزضمانت میگردد و چنانچه مشتری از خدمات دریافتی ابراز
                    نارضایتی داشته باشد امکان بازگشت وجه دریافت شده به مشتری وجود دارد.
                </p>
                <a href="" class="btn btn-primary mt-3 py-2 px-4">ثبت درخواست</a>
            </div>
            <div class="col-lg-6 pt-5 pt-lg-0">
                <div class="owl-carousel service-carousel position-relative">
                    <div style="height:360px ;"
                         class="d-flex flex-column align-items-center text-center bg-white rounded overflow-hidden pt-4">
                        <div class="icon-box bg-light text-secondary shadow mt-2 mb-4">
                            <a href="@Url.Action("OrderPage","Account")" class="fa fa-2x">
                                <img src="https://cdn-icons-png.flaticon.com/512/2969/2969435.png" height="60px" />
                            </a>
                        </div>
                        <h5 class="font-weight-bold mb-4 px-4">تعمیرات یخچال</h5>
                        <img src="img/Repair3.jpg" alt="" height="181px">
                    </div>
                    <div style="height:360px ;"
                         class="d-flex flex-column align-items-center text-center bg-white rounded overflow-hidden pt-4">
                        <div class="icon-box bg-light text-secondary shadow mt-2 mb-4">
                            <a href="@Url.Action("OrderPage","Account")" class="fa fa-2x">
                                <img src="https://cdn-icons-png.flaticon.com/512/6265/6265588.png " height="60px" />
                            </a>
                        </div>
                        <h5 class="font-weight-bold mb-4 px-4">تعمیرات تلویزیون</h5>
                        <img src="img/TvR.webp" alt="" height="181px">
                    </div>
                    <div style="height:360px ;"
                         class="d-flex flex-column align-items-center text-center bg-white rounded overflow-hidden pt-4">
                        <div class="icon-box bg-light text-secondary shadow mt-2 mb-4">
                            <a href="@Url.Action("OrderPage","Account")" class="fa fa-2x">
                                <img src="https://cdn-icons-png.flaticon.com/512/4360/4360201.png" />
                            </a>
                        </div>
                        <h5 class="font-weight-bold mb-4 px-4">تاسیسات ساختمان</h5>
                        <img src="img/Elc.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->
<!-- Contact Info Start -->
<div class="container-fluid pb-5 contact-info">
    <div class="row">
        <div class="col-lg-4 p-0">
            <div class="contact-info-item d-flex align-items-center justify-content-center bg-primary text-white py-4 py-lg-0">
                <i class="fa fa-3x fa-map-marker-alt text-secondary mr-4"></i>
                <div class="">
                    <h5 class="mb-2">آدرس</h5>
                    <p class="m-0">تهران بلوار خیابان پلاک 216</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 p-0">
            <div class="contact-info-item d-flex align-items-center justify-content-center bg-secondary text-white py-4 py-lg-0">
                <i class="fa fa-3x fa-envelope-open text-primary mr-4"></i>
                <div class="">
                    <h5 class="mb-2">نمایندگی</h5>
                    <p class="m-0">+021 345 6789</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 p-0">
            <div class="contact-info-item d-flex align-items-center justify-content-center bg-primary text-white py-4 py-lg-0">
                <i class="fa fa-3x fa-phone-alt text-secondary mr-4"></i>
                <div class="">
                    <h5 class="mb-2">تماس با ما</h5>
                    <p class="m-0">0912 883 7627</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Info End -->
<div class="loadpanel">
</div>
@section Scripts{

<script>
    // Get the modal
    var modalVideo = document.getElementById("myModalVideo");

    // Get the button that opens the modal
    var btnVideo = document.getElementById("myBtnVideo");

    // Get the <span> element that closes the modal
    var spanVideo = document.getElementsByClassName("close1")[0];

    // When the user clicks the button, open the modal
    btnVideo.onclick = function () {
        modalVideo.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    spanVideo.onclick = function () {
        modalVideo.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modalVideo) {
            modalVideo.style.display = "none";
        }
    }
</script>
}
